backend/api/Anexo 19 - WSCancelarCitas.xml

<definitions xmlns:wsdlns="Univer360_Produccion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Univer360_Produccion" name="WSCancelarCita" targetNamespace="Univer360_Produccion">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="Univer360_Produccion" elementFormDefault="qualified">
<element name="WSCancelarCita.Execute">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="Citempcod" type="xsd:short"/>
<element minOccurs="1" maxOccurs="1" name="Citnum" type="xsd:long"/>
<element minOccurs="1" maxOccurs="1" name="Citobscan" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Usulog" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Usupas" type="xsd:string"/>
</sequence>
</complexType>
</element>
<element name="WSCancelarCita.ExecuteResponse">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Resultado" type="xsd:string"/>
</sequence>
</complexType>
</element>
</schema>
</types>
<message name="WSCancelarCita.ExecuteSoapIn">
<part name="parameters" element="tns:WSCancelarCita.Execute"/>
</message>
<message name="WSCancelarCita.ExecuteSoapOut">
<part name="parameters" element="tns:WSCancelarCita.ExecuteResponse"/>
</message>
<portType name="WSCancelarCitaSoapPort">
<operation name="Execute">
<input message="wsdlns:WSCancelarCita.ExecuteSoapIn"/>
<output message="wsdlns:WSCancelarCita.ExecuteSoapOut"/>
</operation>
</portType>
<binding name="WSCancelarCitaSoapBinding" type="wsdlns:WSCancelarCitaSoapPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Execute">
<soap:operation soapAction="Univer360_Produccionaction/AWSCANCELARCITA.Execute"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCancelarCita">
<port name="WSCancelarCitaSoapPort" binding="wsdlns:WSCancelarCitaSoapBinding">
<soap:address location="http://hs.salud360.app/Salud360Hs/servlet/awscancelarcita"/>
</port>
</service>
</definitions>