backend/api/Anexo 28 - WSRecomendacionesRecordatorio.xml

<definitions xmlns:wsdlns="Univer360_Produccion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Univer360_Produccion" name="WSRecomendacionesRecordatorio" targetNamespace="Univer360_Produccion">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="Univer360_Produccion" elementFormDefault="qualified">
<element name="WSRecomendacionesRecordatorio.Execute">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="Ptipageempcod" type="xsd:short"/>
<element minOccurs="1" maxOccurs="1" name="Ptipagenro" type="xsd:short"/>
<element minOccurs="1" maxOccurs="1" name="Usulog" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Usupas" type="xsd:string"/>
</sequence>
</complexType>
</element>
<element name="WSRecomendacionesRecordatorio.ExecuteResponse">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Resultado" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Precomrecor" type="xsd:string"/>
</sequence>
</complexType>
</element>
</schema>
</types>
<message name="WSRecomendacionesRecordatorio.ExecuteSoapIn">
<part name="parameters" element="tns:WSRecomendacionesRecordatorio.Execute"/>
</message>
<message name="WSRecomendacionesRecordatorio.ExecuteSoapOut">
<part name="parameters" element="tns:WSRecomendacionesRecordatorio.ExecuteResponse"/>
</message>
<portType name="WSRecomendacionesRecordatorioSoapPort">
<operation name="Execute">
<input message="wsdlns:WSRecomendacionesRecordatorio.ExecuteSoapIn"/>
<output message="wsdlns:WSRecomendacionesRecordatorio.ExecuteSoapOut"/>
</operation>
</portType>
<binding name="WSRecomendacionesRecordatorioSoapBinding" type="wsdlns:WSRecomendacionesRecordatorioSoapPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Execute">
<soap:operation soapAction="Univer360_Produccionaction/AWSRECOMENDACIONESRECORDATORIO.Execute"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSRecomendacionesRecordatorio">
<port name="WSRecomendacionesRecordatorioSoapPort" binding="wsdlns:WSRecomendacionesRecordatorioSoapBinding">
<soap:address location="http://hs.salud360.app/Salud360Hs/servlet/awsrecomendacionesrecordatorio"/>
</port>
</service>
</definitions>