backend/api/Anexo 16 - WSProximasCitas.xml

<definitions xmlns:wsdlns="Univer360_Produccion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Univer360_Produccion" name="WSProximasCitas" targetNamespace="Univer360_Produccion">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="Univer360_Produccion" elementFormDefault="qualified">
<element name="WSProximasCitas.Execute">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="Homsedciucli" type="xsd:short"/>
<element minOccurs="1" maxOccurs="1" name="Pactipidecod" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Pacnumide" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Usulog" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Usupas" type="xsd:string"/>
</sequence>
</complexType>
</element>
<element name="WSProximasCitas.ExecuteResponse">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="Sdtproxcitasjson" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string"/>
<element minOccurs="1" maxOccurs="1" name="Resultado" type="xsd:string"/>
</sequence>
</complexType>
</element>
</schema>
</types>
<message name="WSProximasCitas.ExecuteSoapIn">
<part name="parameters" element="tns:WSProximasCitas.Execute"/>
</message>
<message name="WSProximasCitas.ExecuteSoapOut">
<part name="parameters" element="tns:WSProximasCitas.ExecuteResponse"/>
</message>
<portType name="WSProximasCitasSoapPort">
<operation name="Execute">
<input message="wsdlns:WSProximasCitas.ExecuteSoapIn"/>
<output message="wsdlns:WSProximasCitas.ExecuteSoapOut"/>
</operation>
</portType>
<binding name="WSProximasCitasSoapBinding" type="wsdlns:WSProximasCitasSoapPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Execute">
<soap:operation soapAction="Univer360_Produccionaction/AWSPROXIMASCITAS.Execute"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSProximasCitas">
<port name="WSProximasCitasSoapPort" binding="wsdlns:WSProximasCitasSoapBinding">
<soap:address location="http://hs.salud360.app/Salud360Hs/servlet/awsproximascitas"/>
</port>
</service>
</definitions>